@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Regular-webfont.woff);
}

@font-face {
  font-family: OpenSansExtraBold, sans-serif;
  src: url(../fonts/OpenSans-ExtraBold-webfont.woff);
}

@font-face {
  font-family: OpenSansBold, sans-serif;
  src: url(../fonts/OpenSans-Bold-webfont.woff);
}
@font-face {
  font-family: OpenSansSemiBold, sans-serif;
  src: url(../fonts/OpenSans-Semibold-webfont.woff);
}
@font-face {
  font-family: OpenSansItalic, sans-serif;
  src: url(../fonts/OpenSans-Italic.ttf);
}
