@import '_variables';
@import '_fonts';
@import '_reset';
@import '_mixins';
@import 'buttons';

.container {
  width: 1249px;
  margin: 0 auto;
  padding: 0;
}
.redline {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
}
.header {
  @include sectionMixin(29px, 111px, #f6f2f2, rgba(0, 0, 0, 0.7));

  .navbar {
    background-color: #000;
    color: #e0e0e0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    &__item a {
      display: block;
      color: #e0e0e0;
      text-decoration: none;
      text-transform: uppercase;
      padding: 17px 23px 18px;
      font-family: OpenSansBold;
      font-weight: bold;
      &:hover {
        background: #ff3f40;
        box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
      }
    }
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 108px;
  }
  &_left {
    h1 {
      @include titleMixin(60px, $fontExtraBold, 6px);
      line-height: 1.2;
      max-width: 588px;
      font-weight: 800;
    }
    p {
      max-width: 512px;
      margin-top: 28px;
      margin-bottom: 50px;
    }

  }
  &_right {
    width: 551px;
    height: 356px;
    box-shadow: 0 0 5px 5px #000;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
.services {
  @include sectionMixin(114px, 108px, transparent, #000);

  border-bottom: 2px solid #ececec;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.75;

  &_left {
    flex-basis: 50%;

    h2 {
      @include titleMixin(42px, $fontBold, 0.4px);

      line-height: 1.3;
      color: rgba(0, 0, 0, 0.8);
      max-width: 500px;
      font-weight: bold;
    }
    p {
      max-width: 509px;
      margin-top: 38px;
      margin-bottom: 46px;
    }
  }
  &_right {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 515px;
  }
  &__item {
    flex: 1 1 290px;
    max-width: 290px;
    overflow: hidden;
    svg {
      fill: #ff3b4a;
      width: 40px;
      height: 40px;
    }
    &:hover svg {
      fill: #000;
    }
    h3 {
      font-family: OpenSansSemiBold;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 20px;
      margin-bottom: 17px;
    }
  }
}
.feature {
  @include sectionMixin(106px, 88px, transparent, rgba(0, 0, 0, 0.7));

  display: flex;
  flex-direction: column;
  min-height: 358px;
  justify-content: space-between;
  align-items: center;
  h2 {
    @include titleMixin(41.5px, $fontBold, 0.4px);
  }
  p {
    max-width: 504px;
    font-size: 16px;
    line-height: 1.73;
    text-align: center;
  }
}
.portfolio {
  @include sectionMixin(0px, 138.6px, transparent, #000);

  &__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 66.4px;

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-family: OpenSansSemiBold;
      font-weight: 600;
      color: #000;
      padding-right: 59px;
      &:last-child {
        padding-right:0;
      }
      &.portfolio__menu_active {
        color: #ff2d2d;
      }
      &:hover {
        color: #ff2d2d;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  &__item {
      flex-basis: 297.7px;
      height: 290.2px;
      overflow: hidden;
      background: #888;
      margin-bottom: 19.5px;
  }
}
.team {
  @include sectionMixin(0px, 110px, transparent, #000);

  &__title {
    max-width: 446px;
    h2 {
      @include titleMixin(41.5px, $fontBold, 0.42px);
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 33px;
      line-height: 1.73;
    }
  }

  &__persons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
  }
  &__mainPersonPhoto {
    flex-basis: 321px;
    height: 458px;
    background-color: orange;
  }
  &__content {
    width: 855px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__personInfo {
    padding-top: 15px;
    h3 {
      @include titleMixin(30.5px, $fontSemiBold, 0.31px);
      margin-bottom: 35px;
    }
    p {
      max-width: 630px;
      font-size: 16.5px;
      line-height: 1.73;
      font-family: $fontRegular;
      margin-bottom: 28px;
    }
  }
  &__personChoose {
    display: flex;
    justify-content: space-between;

  }
  &__personItem {
    flex-basis: 196.8px;
    height: 214px;
    background-color: #ccc;
    position: relative;
    &:hover .team__personName {
      display: block;
    }
  }
  &__personName {
    display: none;
    position: absolute;
    width: 100%;
    bottom:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-size: 18.5px;
    letter-spacing: 0.2px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $fontSemiBold;
  }
  &__socialLink {
    font-size: 18px;
    font-family: $fontItalic;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.9px;
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    margin-right: 29px;
  }
}
.subscribe {
  @include sectionMixin(140px, 140px, #f7ecc3, #fff);
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    @include titleMixin(42px, $fontBold, 1.05px);
    color: #fff;
    text-align: center;
    text-transform: none;
    margin-bottom: 31px;
  }
  p {
    text-align: center;
    margin-bottom: 60px;
  }
  input[type=email]{
    padding-left: 36px;
    height: 79px;
    outline: none;
    border: none;
    width: 521px;
    max-width: 100%;
    font-family: $fontRegular;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: rgba(44, 44, 44, 0.7);
  }
  input[type=submit]{
    height: 79px;
    text-transform: uppercase;
    font-family: $fontBold;
    font-size: 18.5px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
}
.contacts {
  @include sectionMixin(106px, 110px, transparent, #000);

  h2 {
    @include titleMixin(41.5px, $fontBold, 0.42px);
    margin-bottom: 50px;
  }
  p {
    max-width: 720px;
    margin-bottom: 54px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .redline {
    margin-bottom: 75px;
  }
  &__form {
    max-width: 720px;
    textarea, input[type=text], input[type=email] {
      background-color: rgba(0, 0, 0, 0.1);
      outline: none;
      border: none;
      padding-left: 49px;
      margin-bottom: 46px;
      border-radius: 8px;
      font-size: 15.5px;
      font-family: $fontRegular;
    }
    input {
      height: 50px;
    }
    textarea {
      resize: none;
      padding-top: 35px;
      text-transform: none !important;
      font-weight: normal !important;
    }
    input[type=submit], textarea {
      width: 728px;
      max-width: 100%;
      text-transform: uppercase;
      font-family: $fontBold;
      font-size: 16px;
      letter-spacing: 0.5px;
      font-weight: bold;
    }
    input[type=text], input[type=email] {
      width: 330px;
      max-width: calc(50% - 27px);
    }
    input[type=text] {
      margin-right: 54px;
    }
  }
  &__infoText {
    background-color: #000;
    padding-top: 110px;
    padding-left: 79px;
    color: #fff;
    align-self: stretch;
    padding-right: 80px;
    h4 {
      @include titleMixin(18.5px, $fontBold, 0.5px);
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 28px;
    }
    p {
      font-family: $fontRegular;
      font-size: 16px;
      line-height: 1.75;
      margin-bottom: 15px;
      color: rgba(255, 255, 255, 0.8);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
.footer {
  @include sectionMixin(57px, 37px, #000, #b8b8b8);

  &__content {
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    font-size: 16px;
    font-family: $fontRegular;
  }
  &__socials {
    a {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
     img {
      transition: .5s;
      &:hover{
        filter: drop-shadow(0 0 4px #fff);
      }
    }
  }
}
